@import "tailwindcss";

:root {
    font-family: "Times New Roman", Times, serif;
}

body {
    font-family: "Times New Roman", Times, serif;
}

button,
input,
textarea,
select {
    font-family: inherit;
}

body {
    background-image: url("/vivec-and-ruddy-man.png");
    background-size: 1000px auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}